tmp/
kaggle/
*.egg-info/
__pycache__/
models/
data/
*.npy
*.h5
*.zip
cells/
logs/
raw_data/
occlusion_data/
.ipynb_checkpoints/
*.bak
*.dir
*.dat
*.db
*.csv
*.log
*.code-workspace
.conda_venv
.venv
venv/
.vscode
mlruns/
environment.yml